body, html{
    height:calc(100% - 2em);
    margin:0;
    font-family: 'Montserrat';
   
   
}


body{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7b7b7b+0,d3b7e3+98,7db9e8+100,7b7b7b+101 */
    background: #7b7b7b; /* Old browsers */
    background: -moz-linear-gradient(45deg, #7b7b7b 0%, #d3b7e3 98%, #7db9e8 100%, #7b7b7b 101%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #7b7b7b 0%,#d3b7e3 98%,#7db9e8 100%,#7b7b7b 101%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #7b7b7b 0%,#d3b7e3 98%,#7db9e8 100%,#7b7b7b 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b7b7b', endColorstr='#7b7b7b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat:no-repeat;
    background-attachment:fixed;
    


}

aside{
    color:white;
    display: grid;
    grid-template-columns: auto 40px;
    padding: 2em;

}
img{
    width :40px;
    cursor: pointer;
    

}

figure{
    margin:0;
}

figcaption{
    font-size: 1.3em;
    font-weight:bold;

}


.active{
    position: absolute;
    display: block;
    background: #DFD4EB;
    width: 50%;
    left: 0;
    top: 0;
    height: 100%;
    
}

ul{
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    display: block;
    padding: 1.5em 3em;
    background-color:rgba(255,255,255,.35);                                                         
    color: black;
}
main{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwlbsXDnl-0CktV6u1AjsMnJ0qVAYaSXc2gA&usqp=CAU');
    background-size: 100%;
    padding: 1em 1.4em;

}


h1{
    margin: 0;
    color:rgba(0,0,0,.60)

}

p{
    font-size: 1.1em;
    line-height: 1.5em;

}


.cta {
    
    display: block;
    color: white;
    background: #DFC2E7;
    text-decoration: none; 
    padding: 8px 50px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin: 2em 0;
    cursor:pointer;
    

}
.cta:hover{
    background-color: rgb(214, 214, 214);
   
}
ul li a:hover{
    background-color: white;
}

@media only screen and (min-width: 768px){
    body{
        display: grid;
        grid-template-columns: 20% auto;
        padding: 2em;

    }
    img{
        display: none;

    }

    aside{
        background: #DFD4EB;
        grid-template-columns: auto;
        grid-template-rows: 20% auto;
        padding: 0;


    }

    main{
        padding: 4em;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTPMQqnI1f_Emd3TveAV2vILHS74WTOgHekvA&usqp=CAU');
        background-repeat:no-repeat;
        background-size: 100% auto ;
       
    }
    #avatar{
        border-radius: 50%;
        background-image: url('https://previews.123rf.com/images/kchung/kchung1504/kchung150400266/38529053-3d-metallic-black-letter-n-isolated-on-black-background.jpg');
        width: 50px;
        background-size:100%;
        background-repeat:no-repeat;
        height: 50px;
        margin: 2em auto 1em auto;
    }

    figcaption{
        text-align: center;
        color: black;
    }

    

    ul{
        display: block;
        margin-top: 2em;
        position: relative !important;
        background: none !important;
        width: 100% !important;
    }
    ul li a:hover{
        background-color: white;
    }

    nav{
        background: none;
    }
    .cta {
        display: inline-block;
        font-size: 1.3em;
        padding: .8em 3em;
        cursor: pointer;
        

    }
    .cta:hover{
        background-color: rgb(214, 214, 214);
       
    }

    h1{
        font-size: 3em;
        margin-top: 2em;
    }

    p{
        font-size: 1.5em;
    }

    


    


}
